@import 'globals'
@import 'utilities'
@import 'resets'

.site-wrapper
  position: relative
  z-index: 1
  min-height: 100%

.main-header
  position: relative
  height: $header-height
  background: $color3

.main-header .inner
  width: 80%
  height: $header-height
  margin: 0 auto
